* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-radius: 5%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #197C67;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}



nav {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    overflow: hidden;
    background-color: #197C67;
    top: 0;

}

button {
    background-color: #197C67;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.valgt {
    background-color: #126453;
}

h1 {
    text-align: center;
}

#pris {
    color: #C1272D;
}

#splash {
    border-radius: 0%;
}

section {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(240px, 1fr));
    grid-gap: 15px;
}

article {
    padding: 5px;
    border-color: teal;
    font-weight: bold;
    background-color: #F6F6F6;
    border-radius: 5%;
}

.hover {
    background-color: #DADADA;
}

@media screen and (max-width: 600px) {

    ul li.right,
    ul li {
        float: none;
    }
}
